body{

background:#0f172a;

color:white;

text-align:center;

font-family:Arial;

}

button{

padding:15px;

margin:10px;

background:#22c55e;

border:none;

border-radius:10px;

font-size:18px;

color:white;

}

input{

padding:12px;

margin:10px;

width:80%;

border-radius:8px;

border:none;

}